
.row {
    /* margin-top: 30px; */
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    gap: 50px;
}

img {
    height: 150px;
    width: auto;
}

.name {
    color: #D10909;
    font-size: 24px;
    font-weight: bold;
}

.whole-card {
    margin-top: 30px;
    margin-bottom: 30px;
}