#header {
    background-color: #D10909;
    height: 200px;
}

.cheesy-home-button {
    float: left;
    height: 200px;
}

span {
    text-align: left;
    vertical-align: center;
    font-size: 50px;
    color: white
}

#title {
    float: left;
}

#form {
    vertical-align: middle;
    float: center;
    text-align: center;
    vertical-align: center;
    color: white;
    text-decoration: none;
    font-size: 30px;
    width: auto
}

.cart-button {
    float: right;
    margin-right: 50px;
    background-color: white;
    width: 100px;
    text-align: center;
    height: 100px;
    vertical-align: center;
}

#cheese-script {
    height: 80px 
}

