#header {
    background-color: #D10909;
    height: 200px;
}

.cheesy-home-button {
    float: left;
    height: 200px;
}

span {
    text-align: left;
    vertical-align: center;
    font-size: 50px;
    color: white
}

#title {
    float: left;
}

#form {
    vertical-align: middle;
    float: right;
    text-align: right;
    color: white;
    text-decoration: none;
    width: auto;
    font-family: Arial;
    font-style: bold;
    margin-right: 50px;
    margin-top: 80px;
}

.form {
    font-size: 25px;
}

.cart-button {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    /* background-color: white; */
    height: 50px;
    width: 100px;
    text-align: center;
    vertical-align: center;
}

#cart-image {
    height: 100px;
    width: auto;
}

#cheese-script {
    height: 80px 
}


